body {
  background: white;
}

:root {
  --red: #dc5b69;
  --pink: #ec8893;
  --white: #fdfeff;
  --gray: #8a878c;
  --lightgray: #cecfd1;
  --green: #93b64c;
  --blue: #297dda;
}

.hero {
  position: relative;
  header {
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
    }

    nav ul {
      gap: 2rem;
    }

    .line {
      display: none;
    }
  }

  main {
    width: 100%;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    color: var(--white);
    text-shadow: 0 0 10px var(--red);
  }
  .content {
    width: 90%;
    display: none;
  }
}

.intro {
  h2 {
    font-size: 3rem;
    padding-top: 500px;
  }

  ul {
    font-size: 1.2rem;
    padding-left: 20px;
  }

  .divider {
    margin-bottom: 40px;
  }
}

.page1 {
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .block {
    width: 90%;
    height: auto;

    h2 {
      font-size: 1.5rem;
    }
    ul {
      li {
        font-size: 1rem;
      }
    }
  }
}

.page2 {
  flex-direction: column;
  padding: 0;

  .container {
    width: 90%;
    height: auto;
  }

  .desc {
    width: 90%;
    height: auto;
    padding-left: 20px;
    margin: 0 auto;

    li {
      padding-bottom: 20px;
    }
  }
}

.page3 {
  padding-bottom: 20px;
  flex-direction: column;

  .block {
    width: 90%;
    height: auto;
  }
}

.page4 {
  padding: 20px 0 50px;
  flex-direction: column;
  align-items: center;

  .block {
    width: 90%;
    height: auto;
  }
}

.about {
  .container {
    border: 2px solid white;
    width: 90%;
    height: auto;
    background-image: none;
    background: white;
    border: 2px solid black;
    border-top: 15px solid var(--red);

    border-radius: 12px;
    display: block;

    .content {
      height: auto;
      margin-top: 0;
      flex-direction: column-reverse;
      margin: 0 auto;
      align-items: center;

      h2 {
        text-align: center;
        width: 100%;
      }
      .images {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;

        img {
          height: 250px;
          position: static;
          margin: 0 auto;
        }

        .golf {
          display: none;
        }
      }
    }
  }
}

.references {
  padding-top: 220px;
  padding-bottom: 20px;

  .button {
    bottom: -225%;
    text-align: center;
    z-index: 2;
    width: auto;
  }
}

.analysis {
  padding: 20px 0;
  .container {
    height: auto;
    font-size: 1rem;
  }

  .button {
    margin-top: 12px;
    font-size: 10px;
  }
}
